<div *ngIf="myTeam?.starters?.length || opponent?.starters?.length">
  <h2>{{league.name}}</h2>
  <div class="content">
    <div class="flex column green">
      <span *ngFor="let starter of myTeam?.starters">{{ starter ? starter.team + " | " + starter.first_name + " " + starter.last_name : "--"}}</span>
    </div>
    <div class="flex column red">
      <span *ngFor="let starter of opponent?.starters">{{ starter ? starter.team + " | " + starter.first_name + " " + starter.last_name : "--"}}</span>
    </div>
  </div>
</div>
