<div class="container">
  <div class="flex column mt-16">
    <button [routerLink]="['/drafts']">Drafts</button>
    <div *ngIf="selectedLeague">
      <button (click)="decrementSelectedLeague()"><-</button>
      <span>{{ selectedLeague.name }}</span>
      <button (click)="incrementSelectedLeague()">-></button>
    </div>
    <div *ngIf="selectedLeague">
      <button (click)="decrementSelectedWeek()"><-</button>
      <span>{{ selectedWeek }}</span>
      <button (click)="incrementSelectedWeek()">-></button>
    </div>
    <app-matchup *ngIf="selectedLeague" [league]="selectedLeague" [rosterId]="rosterIds.get(selectedLeague.league_id)" [week]="selectedWeek"></app-matchup>
    <div>
    </div>
  </div>
</div>
