<div class="container">
  <div class="flex column mt-16">
    <button [routerLink]="['/drafts']">Drafts</button>
    <div *ngIf="leagues.length">
      <button (click)="decrementSelectedWeek()"><-</button>
      <span>{{ selectedWeek }}</span>
      <button (click)="incrementSelectedWeek()">-></button>
    </div>
    <div class="content">
      <app-schedule [week]="selectedWeek"></app-schedule>
      <div>
        <app-matchup *ngFor="let league of leagues" [league]="league" [rosterId]="rosterIds.get(league.league_id)" [week]="selectedWeek"></app-matchup>
      </div>
    </div>
  </div>
</div>
