.container {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: space-around;
  margin: 32px auto 0;
  padding: 16px;
  height: calc(100vh - 32px);
}

.content {
  display: flex;
  flex-wrap: nowrap;
  gap: 100px;
  justify-content: space-around;
}

@media (max-width: 1240px) {
  .container {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
  }

  .mt-16 {
    margin-top: 0;
  }
}

@media (max-width: 720px) {
  .container {
    padding: 64px 16px 16px;
  }
}
