<div class="container">
  <div class="flex column mt-16">
    <div class="draft-position-wrapper">
      <span class="draft-position-label">Draft Position: </span>
      <select [value]="draftPosition" (change)="selectDraftPosition($event)" class="select-dropdown">
        <option *ngFor="let position of draftPositions" [value]="position">
          {{ position }}
        </option>
      </select>
      <span class="draft-position-label">of </span>
      <span class="draft-position-display">{{ totalDraftPositions }}</span>
    </div>
    <div class="select-wrapper">
      <button (click)="openSettingsModal()">
        New Draft
      </button>
      <span>Draft:</span>
      <select [(ngModel)]="selectedDraftId" (ngModelChange)="selectDraft($event)" class="select-dropdown">
        <option *ngFor="let draft of availableDrafts" [value]="draft.id">
          {{ draft.name }}
        </option>
      </select>
      <span>Settings:</span>
      <select [value]="selectedSetting" (change)="selectSetting($event)" class="select-dropdown">
        <option *ngFor="let setting of availableSettings" [value]="setting">
          {{ setting }}
        </option>
      </select>
      <button (click)="reset()">
        Reset
      </button>
      <button (click)="delete()">
        Delete
      </button>
    </div>
    <app-drafted-team></app-drafted-team>
  </div>
  <app-draft-board
    class="mt-16"
    [draftPosition]="{ draftPosition, totalDraftPositions }"
  ></app-draft-board>
</div>
