.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  margin: 32px auto 0;
  padding: 16px;
  height: calc(100vh - 32px);
}

app-drafted-team,
app-draft-board {
  display: block;
  max-height: calc(100vh - 64px);
}

.draft-position-label {
  font-size: 18px;
}

.draft-position-wrapper,
.select-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.draft-position-control-btn {
  width: 30px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-dropdown {
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.draft-position-control-btn:disabled {
  cursor: not-allowed;
  color: #999;
}

.draft-position-display {
  font-size: 18px;
  font-weight: bold;
  width: 30px;
  text-align: center;
}
